# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
.venv/
venv/
env/
ENV/

# Ignore macOS system files
.DS_Store

# Ignore data files except those in /data
*.csv
*.tsv
*.parquet

!data/
!data/*.csv
